body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.info-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10; 
    background: none;
}

.info-button button {
    background: linear-gradient(to right, rgb(49 46 129), rgb(88 28 135), rgb(88 28 135));
    color: white;
    border-radius: 0.5rem;
    box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.2),
    0 2px 0 0 #312e81,
    0 4px 0 0 #1e1b4b,
    0 6px 0 0 #0f172a,
    0 8px 0 0 #020617,
    0 8px 16px 0 rgba(49,46,129,0.5);
    overflow: hidden;
}

button:hover {
  transform: translateY(4px);
  box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.2),
    0 1px 0 0 #312e81,
    0 2px 0 0 #1e1b4b,
    0 3px 0 0 #0f172a,
    0 4px 0 0 #020617,
    0 4px 8px 0 rgba(49,46,129,0.5);
}

.solar-system {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  pointer-events: none;
}

.solar-system img {
  width: 40px;
  height: 40px;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sun img {
  width: 100px;
  height: 100px;
}

.mercury {
    position: absolute;
    top: 50%;
    left: calc(50% + 50px);
    transform: translateY(-50%);
}

.venus {
    position: absolute;
    top: 50%;
    left: calc(50% + 110px);
    transform: translateY(-50%);
}

.earth {
    position: absolute;
    top: 50%;
    left: calc(50% + 160px);
    transform: translateY(-50%);
}

.mars {
    position: absolute;
    top: 50%;
    left: calc(50% + 220px);
    transform: translateY(-50%);
}

.jupiter {
    position: absolute;
    top: 50%;
    left: calc(50% + 280px);
    transform: translateY(-50%);
}

.saturn {
    position: absolute;
    top: 50%;
    left: calc(50% + 340px);
    transform: translateY(-50%);
}

.uranus {
    position: absolute;
    top: 50%;
    left: calc(50% + 400px);
    transform: translateY(-50%);
}

.neptune {
    position: absolute;
    top: 50%;
    left: calc(50% + 460px);
    transform: translateY(-50%);
}

.pluto {
    position: absolute;
    top: 50%;
    left: calc(50% + 520px);
    transform: translateY(-50%);
}

.mercury-orbit, .venus-orbit, .earth-orbit, .mars-orbit,
.jupiter-orbit, .saturn-orbit, .uranus-orbit, .neptune-orbit, .pluto-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
}

.mercury-orbit::before,
.venus-orbit::before,
.earth-orbit::before,
.mars-orbit::before,
.jupiter-orbit::before,
.saturn-orbit::before,
.uranus-orbit::before,
.neptune-orbit::before,
.pluto-orbit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.mercury-orbit::before { width: 140px; height: 140px; }
.venus-orbit::before   { width: 260px; height: 260px; }
.earth-orbit::before   { width: 360px; height: 360px; }
.mars-orbit::before    { width: 480px; height: 480px; }
.jupiter-orbit::before { width: 600px; height: 600px; }
.saturn-orbit::before  { width: 720px; height: 720px; }
.uranus-orbit::before  { width: 840px; height: 840px; }
.neptune-orbit::before { width: 960px; height: 960px; }
.pluto-orbit::before   { width: 1080px; height: 1080px; }


.mercury-orbit {
    animation: orbit 4s linear infinite;
}

.venus-orbit {
    animation: orbit 8s linear infinite;
}

.earth-orbit {
    animation: orbit 12s linear infinite;
}

.mars-orbit {
    animation: orbit 16s linear infinite;
}

.jupiter-orbit {
    animation: orbit 20s linear infinite;
}

.saturn-orbit {
    animation: orbit 24s linear infinite;
}

.uranus-orbit {
    animation: orbit 28s linear infinite;
}

.neptune-orbit {
    animation: orbit 32s linear infinite;
}

.pluto-orbit {
    animation: orbit 36s linear infinite;
}

@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



@media(max-width: 1200px){
    .solar-system{
        transform: scale(0.8);
    }
}

@media(max-width: 900px){
    .solar-system{
        transform: scale(0.6);
    }
}

@media(max-width: 600px){
    .solar-system{
        transform: scale(0.4);
    }
}

